@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --cor-preto: black; /**/
    --cor-branco: white; /**/
    --cor-cinza-escuro: #333333; /**/
    --cor-amarelo: #F1C40F; /**/
    --cor-vermelho: #E74C3C; /**/
    --cor-azul-100: #E8E8E8; /**/
    --cor-azul-200: #91ADD5;
    --cor-azul-300: #587AAA;
    --cor-azul-400: #3498DB;
    --cor-azul-500: #0077B6;
    --cor-azul-600: #004C7F;
    --cor-azul-700: #2D4F80; /**/
    --cor-azul-800: #3a506e; /**/
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header-big-screen{
    display: flex;
    flex-direction: row;
    gap: 450px;
    width: 100%;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--cor-cinza-escuro);
}

#menu-big-screen{
    margin-left: 60px;
}

#menu-big-screen ul{
    list-style-type: none;
}

#menu-big-screen li{
    display: inline-block; 
    padding: 30px 15px;  
}

#menu-big-screen a{
    display: inline-block;
    font-family: "Poppins", serif;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    color: var(--cor-branco);
    text-shadow: 2px 2px 5px black;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu-big-screen a:hover{
    color: var(--cor-vermelho);
}

#menu-big-screen .active{
    border-bottom: 4px var(--cor-amarelo) solid;
}

#linha-yelow-separação-header{
    position: fixed;
    top: 110px;
    width: 100%;
    height: 1.3vh;
    background-color: var(--cor-amarelo);
}

#home {
    background-color: var(--cor-azul-700);
    height: 100vh;
}

#home #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: 70vh;
}

#home h1, #home h6, #home p{ 
    color: var(--cor-azul-100);
}

#home h1 {
    margin-top: 15px;
    font-family: "Poppins", serif;
    font-size: 3.5em;
    font-weight: 500;
    letter-spacing: 5px;
}

#home  h6{
font-family: Helvetica, sans-serif;
font-size: 1.8em;
font-weight: 300;
}

#home p{
    width: 65%;
    margin-top: 35px;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
}

#sobre, #projetos{
    background-color: var(--cor-azul-800);
}

.section{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}

.titulo-section{
    margin-top: 80px;
    font-family: "Poppins", serif;
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor-azul-100);
}

.button {
    display: block;
    margin: 30px auto;
    background-color: var(--cor-cinza-escuro);
    padding: 20px;
    border-radius: 15px;
    border: 2px var(--cor-amarelo) double;
    color: var(--cor-amarelo);  
}

.button:hover {
    color: var(--cor-vermelho);
    border: 2px var(--cor-vermelho) double;
    scale: 0.94;
    cursor: pointer;
}

#buttonbaixarCV{
    margin-top: 50px;
}

#divvideoAprentacao {
    display: block;
    justify-content: center;
    align-items: center;
}

#divmediavideo{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--cor-cinza-escuro);
    border: 3px var(--cor-amarelo) double;
}

#divmediavideo video{
    display: block;
    margin: auto;
    width: 95%;
    border: 3px black solid ;
}

#divtextoapresentacao {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 30px;
    width: 80%;
}

#content-text-apresentacao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    gap: 95px;
    padding-top: 50px;
}

#image-perfil{
    border-radius: 100%;
    width: 350px;
    height: 350px;
    border: 5px var(--cor-amarelo) solid;
    background-image: url(../imagem/foto-perfil-horizontal-aprensatacao-text.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#image-perfil img{
    border-radius: 100%;
}

#text-sobre{
    width: 50%;
}

#text-sobre p{
    margin-bottom: 30px;
    font-family: "Poppins", serif;
    text-align: center;
    color: var(--cor-azul-100);
}

#habilidades, #contatos{
    background-color: var(--cor-azul-700);
}

#content-skills-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 90px;
}

.skills-icon{
    background-color: var(--cor-cinza-escuro);
    padding-top: 25px;
    width: 200px;
    height: 200px;
    border: 5px var(--cor-amarelo) double;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.titulo-skills-icon{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-branco);
}

.skills-icon:hover{
    scale: 1.2;
    border: 5px var(--cor-vermelho) double;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.fa-brands, .img-icon-skil {
    margin-top: 15px;
    font-size: 5em;
}

.fa-github{
    color: var(--cor-branco)
}

#projetos{
    height: 100vh;
}

#conteinerContact{
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.divContacts{
    background-color: var(--cor-cinza-escuro);
    padding: 20px;
    border: 2px var(--cor-amarelo) solid;
    border-radius: 15px;
}

.divContacts:hover{
    scale: 1.2;
    border: 2px var(--cor-vermelho) solid;
    cursor: pointer;
}

.divImageContacts{
    width: 40%;
    margin: 0px auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloContacts, .linkContacts{
    font-family: "Poppins", serif;
    color: white;
    line-height: 45px;
}

.tituloContacts{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.fa-envelope, .fa-linkedin{
    margin-top: 15px;
    font-size: 5em;
    text-align: center;
    color: white;
}